#simulador {
    background-image: url(../img/nuvens.png);
    background-size: cover;
}
.full_step {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    box-shadow: 0 0 3px #CCC;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}

.content_step {
    display: flex;
    width: 960px;
    max-width: 90vw;
    justify-content: space-between;
    background: linear-gradient(45deg, #0055C8 0%, #CCC 1%);
    background-size: 95% 10px;
    background-repeat: no-repeat;
    background-position: center top 50px;
    padding: 40px 0;
    padding-bottom: 30px;
}

.progress_2 {
    background: linear-gradient(90deg, #0055C8 20%, #CCC 20%);
    background-size: 95% 10px;
    background-repeat: no-repeat;
    background-position: center top 50px;
}

.progress_3 {
    background: linear-gradient(90deg, #0055C8 40%, #CCC 40%);
    background-size: 95% 10px;
    background-repeat: no-repeat;
    background-position: center top 50px;
}

.progress_4 {
    background: linear-gradient(90deg, #0055C8 60%, #CCC 60%);
    background-size: 95% 10px;
    background-repeat: no-repeat;
    background-position: center top 50px;
}

.progress_5 {
    background: linear-gradient(90deg, #0055C8 80%, #CCC 80%);
    background-size: 95% 10px;
    background-repeat: no-repeat;
    background-position: center top 50px;
}
.progress_7,
.progress_6 {
    background: linear-gradient(90deg, #0055C8 100%, #CCC 100%);
    background-size: 95% 10px;
    background-repeat: no-repeat;
    background-position: center top 50px;
}

.item_step i {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background-color: #CCC;
    border-radius: 50px;
    margin-bottom: 30px;
}

.item_step.ativo i {
    background-color: #0055C8;
}

.control_step_buttons {
    display: grid;
    grid-template-columns: 55px 1fr 55px;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
}

.control_step_buttons span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0055C8;
    width: 100%;
    height: 50px;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
}

.control_step_buttons span:hover {
    filter: brightness(150%);
}

.control_step_buttons span:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.control_step_buttons span:nth-child(3) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.box_step {
    width: 960px;
    margin: 0 auto;
    max-width: 90vw;
}

.box_simulado {
    display: block;
    padding: 20px;
    box-shadow: 0 0 7px #333;
    background-color: #FFF;
    margin-bottom: 20px;
    line-height: 40px;
}
.box_flex_s {
    display: flex;
    justify-content: space-between;
}
.box_simulado strong { 
    color: #131d54;
    font-weight: bold !important;

}
.box_simulado b { 
    color: #131d54;
    font-weight: 900 !important;
    font-size: 18px;

}

.form__steps-title {
    color: #141E55;
    margin: 0;
    padding: 0;
    font-size: 34px;
}

.form__steps-body span {
    color: #141E55 !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #0055C8 !important;
    
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #0055C8 !important;
    
}

.btn-contrate {
    width: 100%;
    border-radius: 50px;
    background-color: #9b9b9b;
}

.btn-contrate:hover {
    background-color: #7a7979;
    filter: brightness(130%);
}

.galeria-caixao__form-steps {
    grid-template-columns: 1fr !important;
}

.form__steps-galery-photos {
    grid-template-columns: repeat(4, 1fr) !important;
}

.galeria-caixao__form-steps-body {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-column-gap: 2rem;
}

.form__steps-beneficios {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    /* padding: 3rem; */
    /* border: 2px solid #141E55; */
}

.form__steps-select div label {
    color: #141E55 !important;
}
.btn_exclude {
    color: #FFF !important;    
    font-weight: 900;
    font-family: monospace;
    background-color: #C00;
    margin-right: 20px;
    display: inline-flex;
    width: 20px;
    height: 20px;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-style: normal !important;
    cursor: pointer;
}
.btn_exclude:hover  {
    background-color: #800;
}

.my_label {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid #9e9e9e;
    outline: none;
}
.my_label:focus {
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid #9e9e9e;
}

.steps__bar-text {
    color: #131d54;
}

.grid-radio {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.radio-text {
    display: block;
    text-indent: 20px;
}

.form__steps-beneficios {
    background-color: #FFF;
    border: 1px solid  #131d54;
    margin-bottom: 20px;
    border-radius: 2px;
    padding: 20px;
    display: grid !important;
    height: auto !important;
    grid-template-columns: 1fr 1fr;
}
.form__steps-beneficios  {
    border: 1px solid #CCC !important;
}

.text-right {
    text-align: right;
    color: #131d54;
    text-decoration: underline;
}

.link-add-dep {
    display: block;
    text-align: #131d54;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.dep-title {
    color: #131d54;
    font-weight: bold;
}

.link-add-dep:hover {
    font-weight: 900;
}

.link-center {
    text-decoration: underline;
    color: #131d54;
    font-weight: bold;
    text-align: center;
    display: block;
}

.link-center:hover {
    font-weight: 900;
}

.linha-plano-base {
    margin-top: -20px;
    margin-bottom: -10px;
}

.btn-contrate-active {
    background-color: #131d54;
}

.btn-contrate-active:hover {
    background-color: #080f36;
}


@media only screen and (max-width: 600px) {
    .steps__bar-text {
        display: none;
    }
    .full_step {
        margin-top: 2rem;
    }
}